# Node.js
node_modules/
npm-debug.log
yarn-error.log

# TypeScript
*.tsbuildinfo

# Prisma
/prisma/.*/**/*
!/prisma/client/

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# SQLite
*.sqlite
*.sqlite3
*.db
